
.header-main{
    padding: 20px;
    background-image: url('../../images/freedom.jpg');
    height: 600px;

    h1{
        margin: 0;
        color: whitesmoke;
        font-size: 1.6rem;
        margin-left: 20px;
    }

}