
.header-main{
    position: relative;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    background-image: url('../../../images/freedom.jpg');
    background-origin: border-box;
    background-size: cover;
    background-position: top 24% left 12%;
    height: 550px;

    &>h1{
        color: whitesmoke;
        margin: 0;
        font-family: 'Salsa';
        font-size: 80px;
    }

    &>h2{
        right: 40px;
        bottom: 50px;
        position: absolute;
        display: block;
        color: whitesmoke;
        margin:0;
        padding-left: 40px;
        font-size: 30px;
    }   

}