
// fonts
@font-face {
    font-family: "Montserrat";
    src:  url("../../../../fonts/montserrat-v14-latin-regular.woff2") format('woff2');
    font-weight: 400;
        
  }
  
@font-face {
    font-family: "Montserrat";
    src: url("../../../../fonts/montserrat-v14-latin-700.woff2") format('woff2');
    font-weight: 700;
  }


@font-face {
    font-family: "Salsa";
    src: url("../../../../fonts/salsa-v9-latin-regular.woff2");
  }


html{
    height: 100%;  
}


//resets
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// *{border: 0.1px solid lightblue;}

