body{
    background-image: linear-gradient(-30deg,#522d5b 5%,#d7385e,#fb7b6b,#e7d39f);
    background-attachment: fixed;
}

.main-packages{
    margin-top: 60px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    @media (max-width: 607px){
        align-items: center;
    }

    
    &>a{
        text-decoration: none;
        color: white;
        background-color: #43244b;
        padding: 30px;
        margin: 30px 30px 0 30px;
        width: 55%;

        box-shadow: 3px 3px 7px black;

        @media (max-width:607px){
            width: 100%;
        }


        &>article{
           
            &>h2{
                font-size: 24px;
                color: goldenrod;
            }

            &>h3{
                margin-top: 10px;
                font-size: 18.8px;
            }

            &>p{
                margin-top:10px;
            }


        }

        
        &.a-plus{
            position: relative;

            &>article{
                margin-top: 15px;

                &>footer{
                    padding: 4px;
                    margin: 10px;
                    background-color: goldenrod;
                    position: absolute;
                    top: 0;
                    right: 0;
                    
                    &>p{
                        font-size: 16px;
                    }

                }
           
            }

        }

        &.a-free{
            align-self: flex-end;
            @media (max-width:607px){
                align-self: center;
            }
        }

        &:hover,&:active{
            background-color: #632d70;
        }

    }


}

