
.section-plan{
    padding-top: 20px ;
    padding-bottom: 20px;
    text-align: center;
    background-color:#591568;
    // display: flex;
    // align-items: center;
    // flex-direction: column;

    &>h2{
        font-size: 32px;
        color: whitesmoke;
    }

    &>.ul-plans{
        // width: 80%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;

        &>li{   
            background: linear-gradient(45deg,#fb7b6b ,#e7d39f);
            box-shadow: 5px 5px 8px black;

            list-style: none;
            flex-basis: 250px;
            flex-shrink: 0;
            padding: 10px;
            margin: 20px 20px 0 20px;
            position: relative;


            &>article{
                box-sizing: border-box;

                &>h2{
                    font-size: 24px;
                    margin-top: 20px;
                }

                &>p{
                    margin-top: 10px;
                }

                
                &>footer{
                    padding: 3.9px;
                    background-color: rgb(77, 12, 83);
                    position: absolute;
                    top: 5px;
                    right: 5px;

                    &>p{
                        color: whitesmoke;
                        font-size: 12.8px;
                    }

                }

                &>.p-price{
                    font-size: 1.4rem;
                    font-weight: 700;
                }
                

                &>ul{
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    
                    &>li{
                        list-style: none;
                        margin: 5px;
                    }
                }

            }

            &:hover,&:active{
                background: linear-gradient(45deg,#fb7b6b 40%,#e7d39f);
                cursor: pointer;
            }

            &.li-plus{
                color: whitesmoke;
                background: linear-gradient(45deg,#522d5b 5%,#d7385e ,#fb7b6b);

                &:hover,&:active{
                background: linear-gradient(45deg,#522d5b 40%,#d7385e ,#fb7b6b);

                }
            }
        }
    }
}