.footer-main{
    position: absolute;
    width: 100%;
    bottom: 0;
    
    box-sizing: border-box;

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #260130;
    display: flex;
    justify-content: center;
        p{
            display: inline-block;
            margin: 0 20px;
            color: whitesmoke;
            font-weight: bold   ;
            &:hover{
                cursor: pointer;
            }

    }
}